body {
    font-family: 'Lato', sans-serif;
    background-color: #7faa96;
}

a {
    color: #fff;
}

a:hover {
    color: #919191;
}

li {
    list-style-type: none;
}

header {
    width: 80%;
    margin: auto;
    padding: 10px 0;
    text-align: center;
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
}

label {
    font-size: 1.2em;
    margin: 0 10px;
}

input[type="text"],
input[type="number"] {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

form button {
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #7faa96;
    font-size: 1.2em;
    cursor: pointer;
    width: 50%;
}

@media (min-width: 768px) {
    form {
        width: 20%;
    }
}