body {
    background-color: bisque;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    list-style-type: decimal;
    font-size: 26px;
}

a {
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}